:root {
    --user-select-accessibility-setting: default !important;
    --raw-darkest: #613248;
    --raw-dark: #9c7280;
    --raw-medium: #d1869f;
    --raw-light: #deafc2;
    --raw-lightest: #fddae8;
    --raw-shine: #fff0f6;

    --tint: sepia(1) hue-rotate(280deg) saturate(0.8);

    --palette-dark-blue: var(--raw-darkest) !important;
    --palette-dark-blue-90: var(--raw-dark) !important;
    --palette-light-blue: var(--raw-medium) !important;
    --palette-light-blue-20: var(--raw-lightest) !important;
    --palette-green: var(--raw-light) !important;
    --palette-md-green: var(--raw-medium) !important;
    --palette-md-green-20: var(--raw-lightest) !important;
    --palette-dark-green: var(--raw-darkest) !important;
    --palette-amber: var(--raw-dark) !important;
    --palette-amber-20: var(--raw-light) !important;
    --palette-red: var(--raw-medium) !important;
    --palette-red-20: var(--raw-lightest) !important;
    --palette-purple: var(--raw-medium) !important;
    --palette-purple-20: var(--raw-lightest) !important;
    --palette-dark-purple: var(--raw-dark) !important;
    --palette-blue-grey: var(--raw-lightest) !important;
    --palette-light-grey: var(--raw-shine) !important;
    --palette-dark-blue-90-opacity: var(--raw-dark) !important;
    --palette-green-gradient-start: var(--raw-medium) !important;
    --palette-green-gradient-stop: var(--palette-green) !important;
    --palette-blue-gradient-start: var(--raw-light) !important;
    --palette-blue-gradient-stop: var(--raw-medium) !important;
    --palette-blue-gradient-stop-light: var(--raw-light) !important;
    --palette-orange-gradient-start: var(--raw-medium) !important;
    --palette-orange-gradient-stop: var(--raw-light) !important;
}

[class*="_PageBackgroundImage_"],
[class*="_CalculatorIcon_"],
[alt="Sparx Maths"] {
    filter: var(--tint) !important;
}

[class*="_CircleOuter_"] {
    filter: var(--tint) brightness(90%) !important;
}

[class*="_Question_"] {
    --button-colour: var(--raw-medium) !important;
}